.greet{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
font-weight: bold;
margin-top: 100px;
}


.homecards{
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    margin-top: 150px;


}


.students{
    border-radius: 30px;
    margin: 100px;
    background-color: blueviolet;
    width: 100vh;
    box-shadow: -5px 5px;
}
.facultys{
    border-radius: 30px;
    margin: 100px;
    background-color: blueviolet;
    width: 100vh;
    box-shadow: -5px 5px;
}

.wardens{
    border-radius: 30px;
    margin: 100px;
    background-color: blueviolet;
    width: 100vh;
    box-shadow: -5px 5px;
}
.wardens:hover{
    background-color:#B9AFDF;
    transform: -5px 5px;
    box-shadow: none;
}
.facultys:hover{
    background-color:#B9AFDF;
    transform: -5px 5px;
    box-shadow: none;
}
.students:hover{
    background-color:#B9AFDF;
    transform: -5px 5px;
    box-shadow: none;
}


