.button{
  background-color: #948BB6;
  color: #322C4A;
  border: 5px;
  border-width: 10px;
  text-align: center;
  padding: 10px 20px;    
  display: flexbox;
  font-weight: bold;
  border-radius: 30px;
  box-shadow: -5px 5px;
  margin: 10px;
}
.button:hover{
    background-color:#B9AFDF;
    transform: 0px 5px;
    box-shadow: none;
}

