.greet{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}
.cards{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: blueviolet;

}